.search-box{
	position: fixed;
	background: white;
	border-radius: 5px; 
	padding: 2% 0;
	width: 300px;
	margin: auto;
	text-align: center;
}
.divider{
	margin:2% 0;
	width: 100%;
}
.search-name{
	font-size: 22px;
	width: 250px;
}
.description{
	text-align: center;
}
#search{
	float: left;
	background-color: #1c6a6a;
	width: 251px;
	margin-bottom: 2%;
	font-size: 22px;
}