* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: #1c6a6a;
}
h1{
	font-family: 'Acme', sans-serif;
	font-weight: 400;
	font-size: 36px;
	letter-spacing: normal;
	text-transform: none;
	color: #616e7e;
	padding: none;
}
h3{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

ul.menu {
	display: flex;
	flex-flow: row;
	list-style: none;
}

ul.menu li{
	margin-right: 5px;
}
ul.menu li:last-child {
	margin-right: 0;
}

/*NAVIGATION BAR*/
.nav-container{
	display: flex;
	align-items: center;
	border-radius: 5px; 
	text-align: center;
	background: #eff1f2;
	width: 700px;
	height: 50px;
	margin: 1% auto;
	padding: 0 1%;
}
.logo{
	flex: 1 0 auto;
	text-align: left;
}
.right-pos{
	justify-content: flex-end;
}
.right-but{
	margin-left: 10px;
	float:right;
	line-height: 3.25;
}

/*MAIN PART*/
.main-container{
	padding: 2% 0;
	background: #eff1f2;
	width: 700px;
	margin: auto;
	text-align: center;
	border-radius: 15px; 
}

.photo-but{
	display: flex;
	flex-flow: row wrap;
	margin: 20px 0 30px;
}

.like{
	align-self: flex-start;
	margin-right: auto;
}
.edit{
	align-self: flex-end;
	margin-right: 5px;
}

.photo-box{
	display: flex;
	border-radius: 5px; 
	padding-top: 6%;
	width: 600px;
	margin: auto;
	text-align: center;
	background: white;
	margin-bottom: 10px;
}

.album{
	margin: auto; 
	width: 500px;
	text-align: justify;
}

.description{
	display: flex;
	min-height: 90px;
	flex-flow: column wrap;
	font-family: 'Laila', serif;
	font-weight: bold;
	color: #2E3038;
}
#name{
	font-size: 22px;
	width: 100px;

}
#date{
	font-size: 16px;
	width: 200px;
}
.textfield{
	align-self: flex-end;
	margin-top: -53px;
	width: 300px;
	text-align: justify;
	font-family: 'Laila', serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	color: #2E3038;
}
.hastag{
	font-family: 'Neucha', cursive;
	font-size: 18px;
	color: #1c6a6a;
	font-weight: 500;
	min-height: 20px;
}
ul.hastag {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	flex-grow: 1;
	width: 210px;
	margin-top: -30px;
}

ul.hastag li{
	margin-right: 7px;
}
ul.hastag li:last-child {
	margin-right: 0;
}
/*ul.hashtag li:active{
	color: #78afa9;
}*/

/*FOOTER*/
.foot-container{	
	position: absolute;
	background: #25282a;
	width: 700px;
	height: 50px;
	margin: 2% auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	color: #616e7e;
	border-radius: 15px; 
}

.left-footer{
	float: left;
	text-align: left;
	margin: 1% 2%; 
}

.right-footer{
	float: right;
	text-align: right;
	margin: 1% 2%;
}
/*PICTURES*/
.icon{
	vertical-align: text-bottom;
	display: inline-flex;
	width: 40px;
	margin: 3% 4% 0;
	cursor: pointer;
}
.iconinbox{
	width: 30px;
	margin: 0;
}
.picture{
	border: 10px solid #1c6a6a;
	border-radius: 5px;
	width: 100%;
}
.dev{
	width: 120%;
	height: 60px;
	margin: -30px 0 20px -50px;
}
article:last-child .dev {
	display: none;
}
/*BUTTONS*/
.button{
	height: 40px;
	border-radius: 5px;
	border: 0px;
	color: white;
	margin-top: 2% 
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	cursor: pointer;
}
#load{
	background-color: #1c6a6a;
	width: 280px;
	margin-bottom: 2%;
	font-size: 22px;
}
#login{
	background-color: #1c6a6a;
	width: 150px;
	line-height: 0;
	margin-top: 3%;
}
#load:hover, #login:hover{
	background-color: #616e7e;
}
#load:active, #login:active{
	background-color: #78afa9;
}
.icon:hover, h1:active{
	filter: opacity(0.7);
}

.icon:active{
	filter: opacity(0.5);
}

/*RESPONSIBILITY*/
@media (min-width: 1000px)
{
	.nav-container{
		width: 900px;
	}
	.main-container {
		width: 900px;
	}
	.photo-box{
		width: 800px;
	}
	.album{
		width: 750px;
	}
	.dev{
		width: 800px;
		height: 70px;
		margin: -30px 0 20px -25px;
	}
	.foot-container {
		width: 900px;
	}
}

@media (min-width: 711px) and (max-width: 999px)
{
	.nav-container{
		width: 700px;
	}
	.main-container {
		width: 700px;
	}
	.foot-container {
		width: 700px;
	}
}

@media (min-width: 550px) and (max-width: 710px){
	.nav-container{
		width: 530px;
	}
	.main-container{
		width: 530px;
	}
	.photo-box{
		width: 500px;
	}
	.album{
		width: 480px;
	}
	.foot-container {
		width: 530px;
	}
	.icon{
		margin: 5% 1% 0;
		width: 35px;
	}
	.dev{
		width: 500px;
		margin: -5px 0 20px -10px;	
	}
	#iconinbox{
		width: 25px;
	}
	h1{
		font-size: 36px;
	}
}
.auth-popup {
	position: fixed;
	background: white;
	z-index: 10;
	border-radius: 5px;
}
#login-form{
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	width: 700px;
}
.control{
	font-size: 24px;
	border: 1.5px solid #1c6a6a;
	margin: 6px auto;
}
.button{
	margin: auto;
}

.divider{
	margin:2% 0;
	width: 100%;
}
.shadow {
	position: fixed;
	background: gray;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	top: 0;
}

.edit-popup {
	position: fixed;
	background: white;
	z-index: 10;
	border-radius: 5px; 
	padding: 4% 0 1%;
	width: 600px;
	margin: auto;
	text-align: center;
}
.addphoto{
	margin: 0 5%;
	float: left;
	width: 300px;
	border: 5px solid #1c6a6a;
	border-radius: 3px;
}
.textarea{
	border: 1.5px solid #1c6a6a;
	width: 200px;
	resize: none;
}
.description{
	text-align: left;
}
article{
	text-align: center;
}
[name=inp]{
	display: none;
}


/*SEARCH*/
.search-popup{
	position: fixed;
	left: 40%;
	top: 25%;
	background: white;
	border-radius: 5px; 
	padding: 2% 1%;
	width: 270px;
	margin: auto;
	text-align: center;
}
.divider{
	margin:2% 0;
	width: 100%;
}
.search-name{
	font-size: 22px;
	width: 250px;
	text-align: center;
}
.s-textarea{
	width: 200px;
}
#search{
	float: left;
	background-color: #1c6a6a;
	width: 251px;
	margin: 2% 0;
	font-size: 22px;
}
#search:hover{
	background-color: #616e7e;
}
#search:active{
	background-color: #78afa9;
}
*/